{{#each this}}
<div class="card">
    <h2 class="card-title">{{name}}</h2>
    <div class="card-img-top">
        <img src="{{flag}}"  alt="{{name}}">
    </div>
    <div class="card-body">
        <p class="card-text"><span class='main-card-text'>Capital:</span> {{capital}}</p>
        <p class="card-text"><span class='main-card-text'>Population:</span> {{population}}</p>

        <ul class="list-group main-card-text">Languages</ul>
        {{#each languages}}
        <li class="list-group-item">{{this.name}}</li>
        {{/each}}
        </ul>
    </div>
</div>
{{/each}}
